{% extends "base.html" %}

    {% block content %}
    <div class="container-fluid">
        <div class="col-lg-6">
            <form action="/deck/{{deck_id}}/card/add" method="post" >
                <div class="form-group">
                    <div class="text-center">
                        <label for="front">Front</label>
                    </div>
                    
                    <input type="text" name="front" id="front" class="form-control" required>
                </div>
                <div class="text-center">
                    <label for="back">Back</label>
                </div>
                
                <input type="text" name="back" id="back" class="form-control" required>
            </div>
                
                <div class="form-group my-5">
                    <button ontype="submit" class="btn btn-primary mb-2">Add Card</button>
                </div>
            </form>
        </div>
        
    </div>
    
{% endblock %}  