{% extends "base.html" %}

    {% block content %}
    <div class="container-fluid">
        <div class="text-center">
            
            <h1>Deck Management</h1>
            <h3>Total Decks: {{decks|length}}</h3>
        </div>
        <div class="collection">
            {% if decks|length >0 %}
            <div class="row h4 text-center">
                <div class="col">Deck Title</div>
                <div class="col">No. of Cards</div>
                <div class="col">Score</div>
                <div class="col">Last Reviewed</div>
                <div class="col text-center">Action</div>
            </div>
            {% endif %}
        {% for i in range(decks|length) %}
        <div class="row text-center">
            <div class="col">
                <a href="/deck/{{decks[i]['id']}}/update">{{decks[i]['title']}}</a>
                
            </div>
            <div class="col">{{cardnum[i]}}</div>
            <div class="col">
                 {% if reviews[i] == True %}
                 <a class="btn btn-warning" href="/deck/{{decks[i]['id']}}/test">Review </a>
                 {% else %}
                {{scores[i]}}%
                {% endif %}
                </div>
            <div class="col">
                
                {{review_time_ist[i]}}

            </div>
            <div class="col">
                <a href="/deck/{{decks[i]['id']}}/card/add">Add card </a>|
                <a href="/deck/{{decks[i]['id']}}/test">Test </a>|
                <a href="/deck/{{decks[i]['id']}}/delete">Delete</a>|
                <a href="/deck/{{decks[i]['id']}}/reset">Reset</a>
            </div>
        </div>
            
        </div>
        
        {% endfor %}
        </div>
        
        <div class="newcard text-center my-5">
            <a class="btn btn-info text-white" href="/deck/add">Add new deck</a>
        </div>
    </div>
{% endblock %}    



